@model LTW_Day09Lab_CodeFirst.Models.TvcSanPham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TvcSanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcMaSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcMaSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcTenSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcTenSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcHinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcHinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcSoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcSoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcDonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcDonGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TvcLoaiSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TvcLoaiSanPham.tvcId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.tvcID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
