@using System.Collections
@model IEnumerable<Sach>

<div class="row">
    <h2 class="text-center my-2 py-2">SÁCH BÁN CHẠY - PHAM MINH TUAN</h2>
</div>

<div class="col">
    <input type="text" name="" id="search-input">
    <button class="btn btn-primary" id="search-btn">Search</button>
</div>

<div class="row" id="content-container">
    @foreach (var s in Model) {
        <div class="col-12 col-sm-6 col-md-4 my-2 my-md-0">
            <div class="item ">
                <div class="img">
                <img src="/images/books/1.jpg" alt="1" class="w-100" />
                </div>
                <div class="item-content flex-column ">
                    <h4 class="text-center pt-2">
                        <a href="#" class="d-block text-white">
                            @s.TenSach
                        </a>
                    </h4>
                    <div class="text-yellow d-flex justify-content-between px-3 pb-2 w-100">
                        <span>$ @s.DonGia</span> 
                        <span>Xuất bản: @s.NamXuatBan</span>
                    </div>
                </div>
            </div>
        </div>
    }
    <div>
        <input type="text" name="" id="filter-holder" value="@ViewBag.Filter">
        <input type="text" name="" id="keyword-holder" value="@ViewBag.Keyword">
        <ul>
            @for(int i = 1; i <= ViewBag.TotalPage; i++) {
                <li class="page-item"><a href="#" class="page-link">@i</a></li>
            }
        </ul>
    </div>
</div>



@section Scripts {
    <script>
        $('a.nav-link').click(function(e) {
            var id = $(this).attr('id');
            $('filter-holder').val(id);
            $.ajax({
                url: 'Sach/Filter',
                data: {mlh: id},
                success: function(res) {
                    $('#content-container').html(res);
                }
            });
        });

        $('.btn#search-btn').click(function(e) {
            var id = $('filter-holder').val();
            var keyword = $('#search-input').val();
            $('keyword-holder').val(keyword);
            $.ajax({
                url: 'Sach/Filter',
                data: {mlh: id, keyword: keyword},
                success: function(res) {
                    $('#content-container').html(res);
                }
            });
        });

        $(document).on('click', 'a.page-link', function(e) {
            var id = $('filter-holder').val();
            var keyword = $('keyword-holder').val();
            var pageNumber = $(this).text();
            $.ajax({
                url: 'Sach/Filter',
                data: {mlh: id, keyword: keyword, pageNumber: pageNumber},
                success: function(res) {
                    $('#content-container').html(res);
                }
            });
        });
    </script>
}