@model IEnumerable<HangHoa>

@{
    Layout = "PhamMinhTuan_Layout";
}

<!-- Begin New Product -->
<div class="content_top">
    <div class="heading">
        <h3>Pham Minh Tuan</h3>
    </div>
    <div class="see">
        <p><a href="#">See all Products</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="col">
    <input type="text" name="" id="search-input">
    <button class="btn btn-primary" id="search-btn">Search</button>
</div>
<div id=content-container>
    <div class="section group">
        @foreach (var h in @Model) {
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="Content/images/@h.Anh" alt="@h.TenHang" /></a>
                    <h2>@h.TenHang</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$@h.Gia</span></p>
                    </div>
                            <div class="add-cart">								
                                <h4><a href="preview.html">Add to Cart</a></h4>
                                </div>
                            <div class="clear"></div>
                </div>				     
            </div>
        }
    </div>

    <div>
        <input type="text" name="" id="filter-holder" value="@ViewBag.Filter">
        <input type="text" name="" id="keyword-holder" value="@ViewBag.Keyword">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPage; i++) {
                <li class="page-item"><a href="#" class="page-link">@i</a></li>
            }
        </ul>
    </div>
</div>

<!-- End New Product -->

@section Scripts {
    <script>
        $('li.filter').click(function(e) {
            var id = $(this).attr("id");
            $('#filter-holder').val(id);
            $.ajax({
                url: "HangHoa/Filter",
                data: {mlh: id},
                success: function (res) {
                    $('#content-container').html(res);
                }
            });
        });

        $('.btn#search-btn').click(function(e){
            var id = $('#filter-holder').val();
            var keyword = $('#search-input').val();
            $('#keyword-holder').val(keyword);
            $.ajax({
                url: "HangHoa/Filter",
                data: {mlh: id, keyword: keyword},
                success: function (res) {
                    $('#content-container').html(res);
                }
            });
        });

        $(document).on('click', 'a.page-link', function(e){
            var id = $('#filter-holder').val();
            var keyword = $('#keyword-holder').val();
            var pageNumber = $(this).text();
            $.ajax({
                url: "HangHoa/Filter",
                data: {mlh: id, keyword: keyword, pageNumber: pageNumber},
                success: function (res) {
                    $('#content-container').html(res);
                }
            });
        });
    </script>
}