@model IEnumerable<Learner>

<table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Họ</th>
            <th>Tên</th>
            <th>Ngày ghi danh</th>
            <th>Major</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LearnerID</td>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td>@item.EnrollmentDate</td>
                <td>@item.Major?.MajorName</td>
                <td class="text-center">
                    <a asp-action="Details" asp-route-id="@item.LearnerID" class="btn btn-sm btn-info">Chi tiết</a>
                    <a asp-action="Update" asp-route-id="@item.LearnerID" class="btn btn-sm btn-warning">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@item.LearnerID" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>

</table>

<ul class="pagination">
    @for (var i = 1; i <= ViewBag.TotalPage; i++) {
        <li class="page-item"><a class="page-link" data-page="@i" data-mid="@ViewBag.Filter">@i</a></li>
    }
</ul>
